<div>
  <people-modal-service-component></people-modal-service-component>
</div>

<div class="jumbotron">
  <div class="container">

    <div class="container-fluid">
      <h1>People Management</h1>

      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-primary btn-lg"
                  (click)="goToAdd()"
                  (onGoToAdd)="navigateTo('add')"
          >
            Add new Person
          </button>
        </div>
      </div>


      <people-list *ngIf="currentView == 'list'"
                   (onView)="openModalWithComponent($event)"
      >
      </people-list>


      <!-- people-add *ngIf="currentView == 'add'"
                  (onAdded)="navigateTo('list')"
                  (onCancel)="navigateTo('list')"
      >
      </people-add>

      <people-edit *ngIf="currentView == 'edit'"
                   (onEdited)="navigateTo('list')"
                   (onCancel)="navigateTo('list')"
      >
      </people-edit -->

    </div>
  </div>
</div>
